* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-title: 'IBM Plex Sans', sans-serif;
    --font-paragraph: 'IBM Plex Mono', monospace;
    --text-color: #060A24;
    --color-button: #00F3BB;
    --title-font-size-mobile: 36px;
    --title-font-size-desktop: 64px;
    --p-font-size-mobile: 14px;
    --p-font-size-desktop: 16px;
}

body {
   text-align: center;
}

main {
    margin: auto;
    width: 320px;
    padding: 15px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 24px;
}

nav {
    display: none;
}

#menu {
    width: 18px;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked + .menu-list-mobile {
    display: block;
}

.menu-list-mobile {
    display: none;
}

h1 {
    margin: 40px 0px;
    font-family: var(--font-title);
    font-size: var(--title-font-size-mobile);
    text-align: left;
}

#text-decoration {
    text-decoration: line-through;
}

p {
    margin: 15px 0px;
    font-family: var(--font-paragraph);
    text-align: left;
    font-size: var(--p-font-size-mobile);
    line-height: 22px;
}

button {
    margin: 20px 0px;
    background-color: var(--color-button);
    padding: 15px 95px;
    font-size: var(--p-font-size-desktop);
    font-family: var(--font-paragraph);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #ffffff;
}