:root {
    --font-title: 'IBM Plex Sans', sans-serif;
    --font-paragraph: 'IBM Plex Mono', monospace;
    --text-color: #060A24;
    --text-active: #808080;
    --bd-green: #00F3BB;
    --bd-blue: #0000FE;
    --bd-white: #ffffff;
    --title-font-size-mobile: 36px;
    --title-font-size-desktop: 64px;
    --p-font-size-mobile: 14px;
    --p-font-size-desktop: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    text-align: center;
}

main {
    margin: auto;
    width: 320px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

#logo {
    height: 24px;
    width: 24px;
    transition: all 0.3s ease;
}

#logo:hover {
    transform: rotate(45deg);
    cursor: pointer;
}

.desktop-menu {
    display: none;
}

.navigation-button {
    height: 50px;
    right: -20;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0px 10px;
}

.menu-list-mobile .menu-list-mobile-item {
    background-color: var(--bd-blue);
    color: var(--bd-white);
    font-family: var(--font-paragraph);
    text-align: left;
    padding: 15px;
    z-index: 1;
    height: 50px;
    cursor: pointer;
    align-items: center;
    display: flex;
    width: 320px;
    
}

.menu-list-mobile-item:hover {
    text-decoration: line-through;
    color: var(--bd-green);
}
  
.mobile-menu .navigation-button .menu-icons {
    width: 20px;
}
#navi-toggle {
    display: none;
}
    
.menu-list-mobile {
    display: none;
    top: 70px;
    left: 0px;
    position: absolute;
}
  
#navi-toggle:checked + .menu-list-mobile {
    display: block;
}

a:hover {
    text-decoration: line-through;
    color: var(--bd-green);
}

a:active {
    text-decoration: line-through;
    color: var(--text-active);
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    padding: 20px 15px;
    font-family: var(--font-title);
    font-size: var(--title-font-size-mobile);
    text-align: left;
}

.cta #text-decoration {
    transition: all 0.3s ease;
}

.cta #text-decoration:hover {
    text-decoration: line-through;
}

p {
    margin: 15px 0px;
    font-family: var(--font-paragraph);
    text-align: left;
    font-size: var(--p-font-size-mobile);
    line-height: 22px;
    padding: 0px 15px;
}

button {
    margin: 20px 0px;
    background-color: var(--bd-green);
    padding: 15px 100px;
    font-size: var(--p-font-size-desktop);
    font-family: var(--font-paragraph);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: var(--bd-white);
}

.polygon {
    width: 320px;
    height: 1050px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 90%, 0% 100%);
}

.episodios > h2 {
    font-size: var(--title-font-size-mobile);
    color: var(--bd-white);
    top: 470px;
    z-index: 1;
    position: absolute;
}

.episodios .episodios-img-desktop {
    position: absolute;
    top: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: wrap;
    height: 800px;
}

.episodios .episodios-img-desktop .episodios-img-desktop-group .episodios-img-desktop-item {
    width: 298px;
}

#img-celular, .invitadas-estelares-img {
    width: 320px;
}

#img-celular {
    margin: 50px 0px 0px;
    transition: all .2s ease-in-out;
}

#img-celular:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.nuestros-temas .nuestros-temas-icons .nuestros-temas-child {
    padding: 20px;
}

.nuestros-temas .nuestros-temas-icons .nuestros-temas-child > h4 {
    font-size: 24px;
    font-family: var(--font-title);
}

.ultimas-novedades-cta .ultimas-novedades-cta-polygon {
    height: 341px;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.ultimas-novedades-cta h2 {
    font-size: var(--title-font-size-mobile);
    color: var(--bd-white);
    top: 5000px;
    left: 10px;
    z-index: 1;
    position: absolute;
    text-align: center;
    padding: 20px;
}

.ultimas-novedades-cta .ultimas-novedades-button {
    width: 296px;
    height: 50px;
    top: 5170px;
    left: 10px;
    z-index: 1;
    position: absolute;
    padding: 0px;
}

.footer {
    padding: 20px;
    font-family: var(--font-paragraph);
}

.footer .footer-text > h3 {
    font-size: 14px;
}

.footer .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0px;
}

.footer .social-media-logo {
    width: 20px;
}

@media screen and (min-width: 320px) {
    main {
        margin: auto;
        width: 1440px;
    }

    header {
        align-items: center;
        padding: 40px 50px; 
    }

    #logo {
        width: 36px;
    }

    .desktop-menu {
        display: block;
        font-family: var(--font-paragraph);
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    li {
        margin: 0px 30px;
        cursor: pointer;
    }

    a:hover {
        text-decoration: line-through;
        color: var(--bd-green);
    }

    a:active {
        text-decoration: line-through;
        color: var(--text-active);
    }

    a, a:visited {
        text-decoration: none;
        color: inherit;
    }

    header .mobile-menu {
        display: none;
    }

    h1 {
        margin: 70px 210px 0px;
        font-size: var(--title-font-size-desktop);
    }

    p {
        font-size: var(--p-font-size-desktop);
    }

    .cta .cta-text-mobile {
        display: none;
    }

    .cta .cta-text-desktop {
        width: 900px;
        margin: 20px 220px 0px;
        padding: 0px 0px 50px;
        text-align: left;
    }

    .cta .cta-text-desktop::after {
        content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días."
    }

    .cta button {
        text-align: left;
        margin: 20px 220px 0px;
        float: left;
        z-index: 1;
    }

    .cta h1 > #dot-decoration {
        color: var(--bd-blue);
    }

    .polygon {
        margin: 100px 0px;
        width: 100%;
        height: 1100px;
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    }

    .episodios h2 {
        margin: 220px 0px;
        left: 200px;
        font-size: var(--title-font-size-desktop);
    }

    .episodios .episodios-img-mobile {
        display: none;
    }

    .episodios .episodios-img-desktop {
        position: absolute;
        top: 750px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: wrap;
        margin: 100px 20px;
    }

    .episodios .episodios-img-desktop .episodios-img-desktop-group {
        margin: 20px;
        width: 600px;
        justify-content: center;
        align-items: center;
    }

    .episodios .episodios-img-desktop .episodios-img-desktop-group .episodios-img-desktop-item {
        margin: 20px;
        width: 598px;
    }

    .de-donde-venimos {
        display: flex;
        flex-direction: row;
    }
    
    .de-donde-venimos .de-donde-venimos-img-celular {
        position: absolute;
        top: 1450px;
        margin: 0px 0px 0px 200px;
    }

    .de-donde-venimos .de-donde-venimos-texto {
        position: absolute;
        top: 1600px;
        width: 464px;
        margin: 0px 0px 0px 600px;
    }

    .de-donde-venimos .de-donde-venimos-texto > h2 {
        margin: 0px;
    }

    .invitadas-estelares h2 {
        margin: 400px 200px 20px;
    }

    .invitadas-estelares-group-img-item {
        display: flex;
        width: 100%;
    }

    .invitadas-estelares-img {
        width: 480px;
    }

    .invitadas-estelares-group-img {
        width: 100%;
    }

    .nuestros-temas h2 {
        margin: 30px 200px 0px;
    }

    .nuestros-temas .nuestros-temas-icons {
        display: flex;
        flex-direction: row;
        margin: 20px 150px;
    }

    .nuestros-temas .nuestros-temas-child {
        margin: 30px;
    }

    .ultimas-novedades-cta .ultimas-novedades-cta-polygon {
        height: 518px;
    }

     .ultimas-novedades-cta h2 {
        position: absolute;
        top: 3400px;
        left: 300px;
        z-index: 1;
        font-size: 48px;
        color: var(--bd-white);
    }

    .ultimas-novedades-cta .ultimas-novedades-button {
        top: 3750px;
        left: 500px;
    }

    .footer {
        margin: 20px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer .social-media-logo {
        margin: 0px 20px;
        cursor: pointer;
    }
}